<div class="canvas-wrap">

  <div class="starting-text" ng-if="showStartingMessage">
    <h2>Click to Begin</h2>
  </div>

  <selected-options></selected-options>

  <!--  <selected-checkpoint-options></selected-checkpoint-options>-->

  <click-options></click-options>

  <canvas class="respondCanvas" style="z-index: 1" canvas-grid></canvas>
  <canvas class="respondCanvas" style="z-index: 2" canvas-squares></canvas>
  <canvas class="respondCanvas" style="z-index: 3" canvas-pathfinding></canvas>
  <canvas class="respondCanvas" style="z-index: 4" canvas-checkpoints></canvas>
  <canvas class="respondCanvas" style="z-index: 5" canvas-endpoints></canvas>
  <canvas class="respondCanvas" style="z-index: 6" canvas-clicks></canvas>

</div>
